<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.larry.larryplugin" version="0.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
<name>larry-plugin</name>

<js-module name="LarryPlugin" src="www/LarryPlugin.js">
    <clobbers target="LarryPlugin"/>
</js-module>

<platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
        <feature name="LarryPlugin">
            <param name="android-package" value="com.larry.larryplugin.LarryPlugin"/>
        </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/LarryPlugin.java" target-dir="src/com/larry/larryplugin/LarryPlugin"/>
</platform>

<platform name="ios">
    <config-file parent="/*" target="config.xml">
        <feature name="LarryPlugin">
            <param name="ios-package" value="LarryPlugin"/>
        </feature>
    </config-file>
    <source-file src="src/ios/LarryPlugin.m"/>

</platform>

</plugin>